@model Bit_Mascot.Models.RegisterViewModel
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Registration.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <div class="imgcontainer">
        <img src="~/Content/Registration.PNG" />
    </div>

    <div class="container">
        <div class="form-group mr-6">
           @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.LabelFor(m => m.FirstName, new { @class = "col-sm-2 col-form-label" })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "col-4 form-control-sm"})
     
        </div>
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @id = "EmailValidation", @class = "text-danger" })

        <div class="form-group mr-6">
            @Html.LabelFor(m => m.LastName, new { @class = "col-sm-2 col-form-label" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "col-4 form-control-sm" })
        </div>
            @Html.ValidationMessageFor(m => m.LastName, "", new { @id = "EmailValidation", @class = "text-danger" })

        <div class="form-group mr-6">
            @Html.LabelFor(m => m.Address, new { @class = "col-sm-2 col-form-label" })
            @Html.TextBoxFor(m => m.Address, new { @class = "col-4 form-control-sm" })
        </div>
        @Html.ValidationMessageFor(m => m.Address, "", new { @id = "EmailValidation", @class = "text-danger" })

        <div class="form-group mr-6">
            @Html.LabelFor(m => m.Phone, new { @class = "col-sm-2 col-form-label" })
            @Html.TextBoxFor(m => m.Phone, new { @class = "col-4 form-control-sm" })
        </div>
        @Html.ValidationMessageFor(m => m.Phone, "", new { @id = "EmailValidation", @class = "text-danger" })

        <div class="form-group mr-6">
            @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 col-form-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "col-4 form-control-sm" })
        </div>
        @Html.ValidationMessageFor(m => m.Email, "", new { @id = "EmailValidation", @class = "text-danger" })
        <span id="validateEmail"></span>

        <div class="form-group mr-6 date input-group">
            @Html.LabelFor(m => m.Birthday, new { @class = "col-sm-2 col-form-label" })
            @*@Html.EditorFor(m => m.Birthday, new { @class = "col-2 form-control-sm date", @Value = DateTime.Now.ToString("dd-MM-yyyy"), @id= "datepicker" })*@
            @Html.EditorFor(m => m.Birthday, new { htmlAttributes = new { @class = "col-3 form-control-sm", @id = "datepicker" } })
            <img src="~/Content/icons8-calendar-48.png" />
        </div>
        @Html.ValidationMessageFor(m => m.Birthday, "", new { @id = "EmailValidation", @class = "text-danger" })
        <div class="form-group mr-6">
            <div class = "text-danger" id = "EmailValidation">@ViewBag.DateValidation</div>
        </div>
        
        <div class="form-group mr-6">
            @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 col-form-label" })
            @Html.TextBoxFor(m => m.Password, new { @class = "col-4 form-control-sm" })
        </div>
        @Html.ValidationMessageFor(m => m.Password, "", new { @id = "EmailValidation", @class = "text-danger" })
        <span id="validateEmail"></span>


        <div class="row" id="submitButton">
            <div class="col-md-2">
                <input type="submit" id="submit" value="Register" class="btn btn-default" />
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" id="cancel">Cancel</button>
            </div>
        </div>

    </div>

    
}

<script>
    function IsEmail(email) {
        var regex = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!regex.test(email)) {
            return false;
        } else {
            return true;
        }
    }

     $("#Email").keyup(function () {
            //alert("Hello World");
            var EmailAddress = $("#Email").val();
            if (IsEmail(EmailAddress) == true)
            {
                console.log(EmailAddress);

                $.ajax({
                    url: '@Url.Action("CheckEmail", "Member")',
                    contentType: "application/json;charset=utf-8",
                    data: { 'text': EmailAddress },
                    type: 'GET',
                    dataType: 'json',
                    success: function (datas) {
                        if (datas == 0) {
                            $("#validateEmail").text("Already Taken");
                        }
                        else if (datas == 1)
                        {
                            $("#validateEmail").text("OK");
                        }
                    }
                });
            }

            else {
                $("#validateEmail").text("");
            }
            //console.log(sizeEmail);
        });


        $("#cancel").click(function () {
            event.preventDefault();
            window.location.href = "../Account/Register";
        });


</script>
